CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic,  
        -I/home/dc/.platformio/packages/framework-arduino-avr/cores/arduino/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/bootloaders/stk500v2/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/bootloaders/caterina/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/bootloaders/caterina-LilyPadUSB/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/bootloaders/caterina-Arduino_Robot/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/bootloaders/optiboot/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/bootloaders/gemma/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/lora32u4II/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/altair/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/ethernet/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/fysetcf6/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/engduinov3/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/pinoccio/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/R4/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/galora/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/circuitplay32u4/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/tatu/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/robot_control/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/Controllino_maxi/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/adafruit32u4/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/flora/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/smart7688/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/Controllino_mini/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/moja/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/Controllino_maxi_automation/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/eightanaloginputs/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/rambo/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/itsybitsy32u4/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/mayfly/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/micro/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/ftduino/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/quirkbot/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/robot_motor/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/wildfirev2/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/sparkfun_ser7seg/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/ndogo/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/sparkfun_rf128/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/sanguino/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/sparkfun_promicro/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/wildfirev3/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/mega/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/gemma/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/moteinomega/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/microduino_plus/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/bluefruitmicro/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/microduino_32u4/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/Moteino/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/atmega328pb/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/leonardo/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/standard/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/feather32u4/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/trinket_tiny8/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/mbili/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/yun/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/Controllino_mega/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/tiny8/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/variants/MightyHat/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/CONFIG/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/UTILS/DEBUG/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/UTILS/LIBS/NEWLIB_ADDONS/INCLUDE/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/UTILS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/UTILS/PREPROCESSOR/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/UTILS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/DRIVERS/PM/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/DRIVERS/INTC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/DRIVERS/FLASHC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/DRIVERS/USART/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/DRIVERS/SPI/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/DRIVERS/GPIO/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/COMPONENTS/MEMORY/DATA_FLASH/AT45DBX/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/BOARDS/ARDUINO/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/BOARDS/EVK1105/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/BOARDS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/SOFTWARE_FRAMEWORK/SERVICES/MEMORY/CTRL_ACCESS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifi_dnld/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/CONFIG/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/UTILS/DEBUG/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/UTILS/LIBS/NEWLIB_ADDONS/INCLUDE/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/UTILS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/UTILS/PREPROCESSOR/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/UTILS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/PM/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/INTC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/PDCA/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/FLASHC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/USART/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/CPU/CYCLE_COUNTER/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/EBI/SMC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/RTC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/SPI/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/EIC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/GPIO/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/DRIVERS/TC/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/COMPONENTS/MEMORY/DATA_FLASH/AT45DBX/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/COMPONENTS/WIFI/HD/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/BOARDS/ARDUINO/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/BOARDS/EVK1105/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/BOARDS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/DELAY/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/MEMORY/CTRL_ACCESS/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/LWIP/lwip-1.3.2/src/include/ipv4/lwip/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/LWIP/lwip-1.3.2/src/include/netif/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/LWIP/lwip-1.3.2/src/include/lwip/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/LWIP/lwip-port-1.3.2/HD/if/include/netif/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/LWIP/lwip-port-1.3.2/HD/if/include/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/SOFTWARE_FRAMEWORK/SERVICES/LWIP/lwip-port-1.3.2/HD/if/include/arch/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/wifishield/wifiHD/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/atmegaxxu2/arduino-usbserial/Board/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/atmegaxxu2/arduino-usbserial/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/atmegaxxu2/arduino-usbserial/Lib/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/atmegaxxu2/arduino-usbserial/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/atmegaxxu2/arduino-usbdfu/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/atmegaxxu2/arduino-usbdfu/Board/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/firmwares/atmegaxxu2/arduino-usbdfu/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/cores/arduino/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/libraries/Wire/src/utility/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/libraries/Wire/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/libraries/HID/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/libraries/EEPROM/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/libraries/SPI/src/,
        -I/home/dc/.platformio/packages/framework-arduino-avr/libraries/SoftwareSerial/src/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/avr/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/sys/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/util/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/compat/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/avr/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/include-fixed/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/plugin/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/plugin/include/config/avr/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/plugin/include/config/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/plugin/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/install-tools/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/install-tools/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/x86_64-pc-linux-gnu/avr/include/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/include/gdb/,
        -I/home/dc/.platformio/packages/toolchain-atmelavr/include/libiberty/,
        -I/usr/include/c++/11,
        -I/usr/include/c++/11/bits,
        -I/usr/include/x86_64-linux-gnu/c++/11,
        -I/usr/include/x86_64-linux-gnu/c++/11/bits,
        -std=c++20,
        -DUBRRH]